.top {
  background: rgb(29, 78, 216);
  background: linear-gradient(
    79deg,
    rgba(29, 78, 216, 1) 0%,
    rgba(91, 33, 182, 1) 39%,
    rgba(157, 23, 77, 1) 100%
  );
  height: 100vh;
  width: 100vw;
  border-left: 75% solid transparent;
}

/* barre de navigation */



/* titre */

.title {
  justify-content: flex-start;
  align-items: center;
}
.logo.adaptive-img--contain {
  height: 100px;
  width: 133px;
}
.title.adaptive-img--contain {
  height: 50px;
  width: 244px;
}

.pu     b {
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  gap: 32px;
  padding: 32px;
}

.text {
  justify-content: space-between;
  gap: 16px;
}

.slogan {
  flex: 2 0;
}
.code {
  background-color: black;
  flex: 1 0;
  min-height: 200px;
  border-radius: 16px;
  padding: 16px;
}
.window {
  height: 15px;
  justify-content: flex-start;
}
.code-button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 8px;
}
.red {
  background-color: red;
  left: 8px;
}
.orange {
  background-color: orange;
  left: 24px;
}
.green {
  background-color: green;
  left: 40px;
}

pre {
  padding-top: 16px;
}
.code-white {
  color: white;
}
.code-blue {
  color: rgb(0, 89, 255);
}

.code-green {
  color: green;
}
