@use "./mixins";



.header {
  @include mixins.flex-row();
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  color: mixins.$color;
  gap: 16px;
  .search {
    @include mixins.flex-row;
    width: 224px;
    height: 42px;
    background-color: rgba(0, 0, 0, 0.2);
    flex-wrap: nowrap;
    padding-left: 8px;
    box-shadow: 0px 0px 0px 1px #ffffffc9;
    border-radius: 12px;
    &:focus-within {
      box-shadow: 0px 0px 0px 1px #ffffffc9, 0px 0px 5px 2px #ff00bfc9;
    }
    input {
      background-color: transparent;
      background-image: url(../img/search_black_24dp.svg);
      background-repeat: no-repeat;
      background-position: center left;
      height: 100%;
      height: 100%;
      outline: none;
      border: none;
      color: #ffffffad;
      font-size: 2rem;
      padding: 0 16px 0 32px;
      &::-webkit-input-placeholder {
        color: #ffffff;
      }
      &::-moz-placeholder {
        color: #ffffff;
      }
      &:-ms-input-placeholder {
        color: #ffffff;
      }
      &::-ms-input-placeholder {
        color: #ffffff;
      }
      &::placeholder {
        color: #ffffff;
      }
    }
  }
  .menu {
    @include mixins.flex-row;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 16px;
    padding-right: 16px;
    font-size: 2rem;
    a {
      color: #ffffffad;
      text-decoration: none;
    }
  }
}